<html>
    <head>
        <title>Greetings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <link rel="stylesheet" type="text/css" href="../static/indhome.css">
    </head>

    <body>

        <form class="grid" action="/cri" method="post">
            <center>
                <!--{% if name  %}
                <h3 style="color: blue;">Hello {{name}},How are you ? </h3>

                {% endif %}-->
                The target element was ID which is part of the system, later when tested again it should be the same.
                <br><br>
                Gramedia system is separating their menu, the prime example of this is Search menu. 
            </center>




        </form>
    </body>
</html>