<html>
    <head>
        <title>Form Flex</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/indlogin.css"> 

    </head>

    <body>

        <form class="grid" action="/frflx" method="post">
            <center>
                {% if name  %}
                <h3 style="color: blue;">Hello {{name}},How are you ? </h3>

                {% endif %}
            </center>

            <label for = "flx">Sedang mencari apa? </label>
            <input type="text" name="crfx" id="crfx">

            <center><input type="Submit" class="file_submit"></center>




        </form>




        <br>
        <br>
        <br>



    </body>


</html>